<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include("./partials/head",{title:'Login'})%>
    </head>
    <body>
        <header class="header-login">
            <%-include("./partials/header")%>
        </header>
        <main class="main-login">
            <form class="formulario-login" action="/expositions/crear" method="POST" name= "formulario-registro">
                
                <input class="input-texto" type="text" name="unidad" placeholder="Ingrese una nueva " value="<%= locals.oldData && oldData.unidad ? oldData.unidad : null %>">
                <% if(locals.errors && errors.unidad) { %>
                 
                    <ul>
                        <li style="color:red; font-size: 24px; " class="listaErrores"><%= errors.unidad.msg%>!</li>
                    </ul>
                    
                <%}%>
                <% if(locals.mensajes ) { %>                 
                    <ul class="listaErrores" >
                        <li style="color:red; font-size: 24px; "><%= locals.mensajes%>!</li>
                    </ul>                 
                    
                <%}%>
                <ul class="listaErrores"></ul>

                <button class="boton-login" type="submit">Enviar</button>         
                

            </form>
        </main>
        <%-include('./partials/footer')  %> 
        <script src="/js/expositionsValidationExistence.js" type="module"></script>

    </body>
</html>