<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head', {title: 'Inicio'})  %>  
</head>
<body>
      
    <header>
        
        <%-include('./partials/header')  %>
        <%-include('./partials/carrusel') %>
    </header>
    <main>
        <section class="main-producto-container">
            <h2>Frutas y verduras</h2>
        <div class="products-container">
            <article>
                <div class="contenedor-foto-producto">
                    <img class="foto-producto" src="/img/frutas.jpg" alt="foto-frutas">
                    <div class="contenedor-título-producto">
                        <h3>Frutas</h3>
                    </div>
                    <div class="contenedor-boton-producto">
                        <a href="/products">
                            <button class="boton-producto">
                                    <p>Comprar ahora</p>
                            </button>
                        </a>
                    </div>
                </div>
            </article>
             <article>
                <div class="contenedor-foto-producto">
                    <img class="foto-producto" src="/img/verduras.jpg" alt="foto-verduras">
                    <div class="contenedor-título-producto">
                        <h3>Verduras</h3>
                    </div>
                    <div class="contenedor-boton-producto">
                        <a href="/products">
                            <button class="boton-producto">
                                    <p>Comprar ahora</p>
                            </button>
                        </a>
                    </div>
                </div>
            </article>
            <article>
                <div class="contenedor-foto-producto">
                    <img class="foto-producto" src="/img/hierbas.jpg" alt="foto-hierbas">
                    <div class="contenedor-título-producto">
                        <h3>Hierbas</h3>
                    </div>
                    <div class="contenedor-boton-producto">
                        <a href="/products">
                            <button class="boton-producto">
                                    <p>Comprar ahora</p>
                            </button>
                        </a>
                    </div>
                </div>
            </article>
            <article>
                <div class="contenedor-foto-producto">
                    <img class="foto-producto" src="/img/frutos secos.jpg" alt="foto-frutos-secos">
                    <div class="contenedor-título-producto">
                        <h3>Secos</h3>
                    </div>
                    <div class="contenedor-boton-producto">
                        <a href="/products">
                            <button class="boton-producto">
                                    <p>Comprar ahora</p>
                            </button>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        </section>
        <section class="main-ofert-container" id="ofertas-promos">
            <h2>Nuestras mejores Ofertas %</h2>
            <div class="offers-container">
                <article>
                    <div class="contenedor-foto-producto">
                        <img class="foto-producto" src="/img/oferta-verduras.jpg" alt="foto-promoFrutas">
                        <div class="contenedor-título-producto">
                            <h3>Promo Verduras</h3>
                        </div>
                        <div class="contenedor-boton-producto">
                            <a href="/products">
                                <button class="boton-producto">
                                        <p>Comprar ahora</p>
                                </button>
                            </a>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="contenedor-foto-producto">
                        <img class="foto-producto" src="/img/oferta-frutas.jpg" alt="foto-promoVerduras">
                        <div class="contenedor-título-producto">
                            <h3>Promo Frutas</h3>
                        </div>
                        <div class="contenedor-boton-producto">
                            <a href="/products">
                                <button class="boton-producto">
                                        <p>Comprar ahora</p>
                                </button>
                            </a>
                        </div>
                    </div>
                </article>
                
            </div>
        </section>
        <%- include('./partials/delivery.ejs') %> 
        <div class="whats-app-container">
            <a href="https://api.whatsapp.com/send?phone=5493515140462" class="btn-wsp" target="_blank"><img class="whatsapp-icon" src="/img/whatsapp.png" alt="whats-app-icon"></a>
            
        </div>
    </main>
   <%-include('./partials/footer')  %> 
</body>
</html> 