<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include("./partials/head",{title:'Login'})%>
    </head>
    <body>
        <header class="header-login">
            <%-include("./partials/header")%>
        </header>
        <main class="main-login">
            <form class="formulario-login" action="/payments/crear" method="POST" name= "formulario-registro">
                
                <input class="input-texto" type="text" name="payment" placeholder="Ingrese un nuevo método de pago" value="<%= locals.oldData && oldData.payment ? oldData.payment : null %>">
                <% if(locals.errors && errors.payment) { %>
                 
                    <ul>
                        <li class="liGeneralCreation" style="color:red; font-size: 1.2vw; "><%= errors.payment.msg%>!</li>
                    </ul>
                    
                <%}%>

                <% if(locals.mensajes ) { %>                 
                    <ul class="listaErrores" >
                        <li style="color:red; font-size: 24px; "><%= locals.mensajes%>!</li>
                    </ul>                 
                    
                <%}%>
                <ul class="listaErrores"></ul>

                <button class="boton-login" type="submit">Enviar</button>         
                

            </form>
        </main>
        <%-include('./partials/footer')  %> 
    </body>
</html>