<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head', {title:'Edita tu Producto'}) %> 
</head>
<body>
    <header>
        <%-include('./partials/header')  %>
        <%-include('./partials/carrusel') %>
    </header>
<main>
    <div class="editar-product-container">
        <h2 class="editar-producto-title">Edita tu producto: <%= productToEdit.name %> </h2>
        <form class="editar-product-form" action="/products/edit/<%=productToEdit.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <h3 class="complete-data-title">Modifica los datos para editar tu producto:</h3>
            <!-- TITULO -->
            <label for="name" class="form-label">Nombre:</label>
            <input class="input-texto" type="text" name="name" placeholder="<%= productToEdit.name %> ">
            <!-- UNIDAD DE MEDIDA -->
            <label for="unit_mensure" class="form-label">Unidad de medida:</label>
            <select name="unit_mensure" id="unit_mensure" class="form-input">
                <option value=<% productToEdit.unit_mensure_id %>>
                    <%= productToEdit.unitMensure.dataValues.type %> 
                </option>
                <% let unitMensure = secondaryTables.unitMensure %> 
                <% for (let key in unitMensure){%>
                    <option value="<%= unitMensure[key].id %> "><%= unitMensure[key].type  %> </option>
                <% } %>   
            </select>
            <!-- CANTIDAD POR UNIDAD -->
            <label for="mensure_value" class="form-label">Cantidad por unidad:</label>
            <input class="input-texto" type="text" name="mensure_value" placeholder="<%= productToEdit.mensure_value %>">
            <!-- PRECIO -->
            <label for="price" class="form-label">Precio:</label>
            <input class="input-texto" type="number" name="price" placeholder="<%= productToEdit.price %>">
            <!-- DESCUENTO -->
            <label for="discount" class="form-label">Descuento:</label>
            <input class="input-texto" type="number" name="discount" placeholder="<%= productToEdit.discount %>">
            <!-- CATEGORIA -->
            <label for="category" class="form-label">Categoría:</label>
            <select name="category" id="category" class="form-input">
                <option value= <%= productToEdit.category_id %> >
                    <%= productToEdit.category.dataValues.name %>
                </option>
                <% let category = secondaryTables.category %> 
                <% for (let key in category){%>
                    <option value="<%= category[key].id %> "><%= category[key].name  %> </option>
                <% } %>   
            </select>
            <!-- EXPOSICIÓN -->
            <label for="exposicion" class="form-label">exposición:</label>
			<select name="exposicion" id="exposicion" class="form-input">
				<option value= <%= productToEdit.exposition_id %>>
                    <%= productToEdit.exposition.dataValues.type %>
                </option>
                <% let exposition = locals.secondaryTables.exposition %> 
                <% for (let key in exposition){%>
                    <option value="<%= exposition[key].id %> "><%= exposition[key].type  %> </option>
                <% } %>   
			</select>
            <!-- DESCRIPCIÓN -->
            <label for="description" class="form-label">Descripción:</label>
            <input class="input-texto" type="text" name="description" placeholder="<%= productToEdit.description %>">
            <!-- IMAGEN -->
            <label class="editar-product-photo-label">Actualice la foto de su producto:</label>
            <input class="editar-product-photo" type="file" name="img" accept=".jpg, .png" multiple>
            <!-- SUBMIT -->
            <div class="submit-editar-product-container">
                <button class="editar-product-button">
                    <p>Guardar cambios</p>
                </button>
                <span>*Todos los campos son obligatorios</span>
            </div>  
        </form>
    </div>
</main>
<%-include('./partials/footer')  %> 
</body>
</html>