<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('./partials/head', {title:'Formulario de creación'}) %>
        <script src="/js/productsCreate.js"></script> 
    </head>
    <body>
        <header class="header-create">
            <%-include('./partials/header')  %>
        </header>
        <main class="main-de-create">
        
            
            <form class="create-product-form" action="/products/" method="POST" enctype="multipart/form-data">
                <h2 class="create-producto-title">Crea tus productos</h2>
                <h3 class="complete-data-title">Ingresa los siguientes datos para crear tu producto:</h3>
                <!-- Name -->
                <input class="input-texto" type="text" name="name" placeholder="Ingrese el nombre del producto" value="<%= locals.oldData? oldData.name : null %>">
                <% if (locals.errors && errors.name) { %>
                 <p style="color: #D84D09;"><%= errors.name.msg %></p>  
                <% } %>
                <!-- Messure units -->
                <select name="unit_measure_id" id="unit_measure" class="input-texto">
                    <option value="">Elegí</option>
                    <% let unitMeasure = secondaryTables.unitMeasure %> 
                    <% for (let key in unitMeasure){%>
                        <option value=<%= unitMeasure[key].id %>><%= unitMeasure[key].type  %> </option>
                    <% } %>   
                </select>
                <% if (locals.errors && errors.unit_measure) { %>
                    <p style="color: #D84D09;"><%= errors.unit_measure.msg %></p>  
                <% } %>
                <!-- Quantity -->
                <input class="input-texto" type="text" name="measure_value" placeholder="Ingrese el valor de la unidad de medida" value="<%= locals.oldData? oldData.measure_value : null %>">
                <% if (locals.errors && errors.measure_value) { %>
                    <p style="color: #D84D09;"><%= errors.measure_value.msg %></p>  
                   <% } %>
                <!-- Price -->
                <input class="input-texto" type="number" name="price" placeholder="Ingrese el precio de su producto" value="<%= locals.oldData? oldData.price : null %>">
                <% if (locals.errors && errors.price) { %>
                    <p style="color: #D84D09;"><%= errors.price.msg %></p>  
                   <% } %>
                <!-- Discount -->
                <input class="input-texto" type="number" name="discount" placeholder="Ingrese el descuento del producto" value="<%= locals.oldData? oldData.discount : null %>">
                <% if (locals.errors && errors.discount) { %>
                    <p style="color: #D84D09;"><%= errors.discount.msg %></p>  
                   <% } %>
                <!-- Category -->
                <label for="category_id" class="form-label">Categoría:</label>
                <select name="category_id" id="category" class="input-texto">
                    <option value="">Elegí</option>
                    <% let category = secondaryTables.category %> 
                    <% for (let key in category){%>
                        <option value=<%= category[key].id %> ><%= category[key].name  %> </option>
                    <% } %>   
                </select>

                <% if (locals.errors && errors.category) { %>
                    <p style="color: #D84D09;"><%= errors.category.msg %></p>  
                <% } %>
                <!-- Exposition -->
                <label for="exposition_id" class="form-label">Exposición:</label>
                <select name="exposition_id" id="exposicion" class="input-texto">
                    <option value="">Elegí</option>
                    <% let exposition = locals.secondaryTables.exposition %> 
                    <% for (let key in exposition){%>
                        <option value=<%= exposition[key].id %> ><%= exposition[key].type  %> </option>
                    <% } %>  
                <% if (locals.errors && errors.exposicion) { %>
                    <p style="color: #D84D09;"><%= errors.exposicion.msg %></p>  
                <% } %>
                <!-- Description -->
                <input class="input-texto" type="text" name="description" placeholder="Describa el producto" value="<%= locals.oldData? oldData.description : null %>">
                <% if (locals.errors && errors.description) { %>
                    <p style="color: #D84D09;"><%= errors.description.msg %></p>  
                <% } %>
                <!-- Image -->
                <input type="file" name="img" accept=".jpg, .png" multiple>
                <% if (locals.errors && errors.img) { %>
                    <p style="color: #D84D09;"><%= errors.img.msg %></p>  
                   <% } %>
                <!-- Submit -->
                <div class="submit-create-product-container">
                    <button class="create-product-button" type="submit">
                        <p>Crear producto</p>
                    </button>
                    <span>*Todos los campos son obligatorios</span>
                </div> 
                 
            </form>
        
        </main>
        <%-include('./partials/footer')  %> 
    </body>
</html>