<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include("./partials/head",{title:'Users'})%>
    </head>
    <body>
        <header>
            <%-include("./partials/header")%>
        </header>
        <main class="main-users">
            <% Object.keys(user).forEach(key =>{ %>
                <p style="font-size: 20px;"><%= `${key}: ${user[key]}` %></p>
            <% }); %>
        </main>
        <%-include('./partials/footer')  %>
    </body>
    <%- include("./partials/footer") %> 
</html>